*.DS_Store
logs/
*.snakemake
*snakemake_logs/
*resources/
snakemake_workflow/db/*
*db/refdata*
.git/objects/pack/pack-96e69d7eb9e4db037f25e541e27bc3bd55d2e6d2.pack
.git/objects/pack/tmp_pack_2v5cgd
.git/objects/pack/tmp_pack_gSSH1e
.git/objects/pack/pack-96e69d7eb9e4db037f25e541e27bc3bd55d2e6d2.pack
data*
analysis/notebooks/.ipynb_checkpoints/*
Analysis/notebooks/*
*.h5ad
*.png
*.pdf
*.svg
*.tab
*.gz

.ipynb_checkpoint*
*arx*
*.tab
