logs/
*.snakemake
*snakemake_logs/
*resources/
*db/transcriptome/*
*db/refdata*
snakemake_workflow/db/transcriptome/refdata-gex-GRCh38-2020-A.tar.gz
snakemake_workflow/db/transcriptome/refdata-gex-GRCh38-2020-A.tar.gz
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/genes/genes.gtf
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/fasta/genome.fa
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/SAindex
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/SA
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/Genome
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/pickle/genes.pickle
.git/objects/pack/pack-96e69d7eb9e4db037f25e541e27bc3bd55d2e6d2.pack
.git/objects/pack/tmp_pack_2v5cgd
.git/objects/pack/tmp_pack_gSSH1e
snakemake_workflow/db/transcriptome/refdata-gex-GRCh38-2020-A.tar.gz
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/genes/genes.gtf
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/fasta/genome.fa
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/exonGeTrInfo.tab
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/SAindex
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/SA
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/Genome
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/pickle/genes.pickle
snakemake_workflow/db/transcriptome/refdata-gex-GRCh38-2020-A.tar.gz
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/genes/genes.gtf
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/fasta/genome.fa
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/exonGeTrInfo.tab
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/SAindex
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/SA
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/star/Genome
snakemake_workflow/db/refdata-gex-GRCh38-2020-A/pickle/genes.pickle
.git/objects/pack/pack-96e69d7eb9e4db037f25e541e27bc3bd55d2e6d2.pack
