# ----------------------------------------
# General
# path to sheet describing each cell
library_info: "samplesheets/library_info.tsv"
# output directory for processed data

base: 
  gex: "/oak/stanford/groups/quake/shared/swiftShare/tabula_bursa_pipeline"
  vdj: "/oak/stanford/groups/quake/shared/swiftShare/tb_vdj_pipeline"
# specificed in multi_configs
gex_fastq_dirs: ["/oak/stanford/groups/quake/shared/swiftShare/tb_gex_fastqs"]
vdj_fastq_dir: "/oak/stanford/groups/quake/shared/swiftShare/ilm7_vdj/"

# human or mouse
species: human
# partition (for cluster computing)
partition: "quake,owners"
workflow_dir: "/home/groups/quake/mswift/tabula-bursa/snakemake_workflow" 
samplesheets: ["samplesheets/samplesheet.tsv"]
samplesheet_vdj: ["samplesheets/extended_samplesheet_vdj.tsv"]
# Software
#---------------------------
vdj_scripts: "scripts/vdj"
cell_ranger: "/home/groups/quake/mswift/resources/cellranger-7.0.1"
cr_whitelist: "/home/groups/quake/mswift/resources/3M-february-2018.txt"
resources: "/home/groups/quake/mswift/5prime_10X_workflow/resources"
grmlin: "/home/users/cvijovic/ig-germline-discovery/grmlin" 
# references
#------------
vdj_ref_prefix: "vdj_human"
vdj_reference: "/home/groups/quake/mswift/5prime_10X_workflow/db/vdj_reference"
inner_primers: "/home/groups/quake/mswift/tabula-bursa/snakemake_workflow/db/inner_primers.txt"
10X_transcriptome: "https://cf.10xgenomics.com/supp/cell-exp/refdata-gex-GRCh38-2020-A.tar.gz"
transcriptome: "/home/groups/quake/mswift/tabula-bursa/snakemake_workflow/db/refdata-gex-GRCh38-2020-A"
#10X cell barcode whitelist
whitelist: "db/whitelists/737K-august-2016.txt"
# the assembly pipeline uses the immcantation framework for IgBLAST
# options: 'docker' or 'singularity'
container_type: singularity
# STAR alignment: fasta and gtf files
# (these should not need to be changed)
ighc_db:
  human: db/IGHC/human_IGHC_IMGT_membrane_only_reformatted.fasta
  imgt_exons: db/IGHC/IGHC_exons.bed
  imgt_introns: db/IGHC/IGHC_introns_inner.bed
  mouse: db/IGHC/mouse_IGHC_IMGT_reformatted.fast
# Igblast
IGDBDIR: /oak/stanford/groups/quake/shared/swiftShare/igblast
scripts: 
path_to_grmlin:
# params:
decontX_mode: filtered

# sequencing read length e.g. 100 for 2x100 paired-end sequencing
# (used during STAR genome generation)
read_length: 90

# whether or not to include ERCCs in the genome fasta and gtf 
include_ERCCs: False

# STAR alignment: fasta and gtf files
# (these should not need to be changed)
fasta_url:
  human: ftp://ftp.ensembl.org/pub/release-93/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz
  mouse: ftp://ftp.ensembl.org/pub/release-93/fasta/mus_musculus/dna/Mus_musculus.GRCm38.dna.primary_assembly.fa.gz

fasta_name:
  human: Homo_sapiens.GRCh38.dna.primary_assembly
  mouse: Mus_musculus.GRCm38.dna.primary_assembly

gtf_url: 
  human: ftp://ftp.ensembl.org/pub/release-93/gtf/homo_sapiens/Homo_sapiens.GRCh38.93.gtf.gz
  mouse: ftp://ftp.ensembl.org/pub/release-93/gtf/mus_musculus/Mus_musculus.GRCm38.93.gtf.gz

gtf_name:
  human: Homo_sapiens.GRCh38.93
  mouse: Mus_musculus.GRCm38.93 

TICA_urls: 
  global: https://cellgeni.cog.sanger.ac.uk/pan-immune/CountAdded_PIP_global_object_for_cellxgene.h5ad
  b_cell: https://cellgeni.cog.sanger.ac.uk/pan-immune/TICA_B_BCR.h5ad
